Flask
keras
keras_tuner
matplotlib
numpy
openmeteo_requests
pandas
requests_cache
retry_requests
scikit_learn
tensorflow
tensorflow_intel
gunicorn==20.1.0
flask_cors
deutschland
flask-sqlalchemy
flask-bcrypt
redis
Flask-Mail
